<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add new complaint | Portfolio_App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body style="height: 100vh; font-size: 12px; padding: 0px;">
	<div class="row h-100">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
				<a class="navbar-brand" href="/jrk" th:href="@{/jrk}">
					<img src="img/logo-680-sh.png" width="150px" height="100%" alt="logo">
				</a>
				<ul class="navbar-nav  mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Sign in</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">Log in</a>
					</li>
				</ul>
			</nav>
			<nav class="navbar bg-light navbar-light">
				<span class="navbar-text">
					<h1>Complaint application</h1>
				</span>
			</nav>
			<nav aria-label="breadcrumb" style="border-radius: 0px">
				<ol class="breadcrumb bg-secondary">
					<li class="breadcrumb-item"><a href="/jrk" th:href="@{/jrk}" class="text-light">
						<img src="img/home-icon.png" alt="Logo" style="width:20px; height: auto"></a></li>
					<li class="breadcrumb-item"><a href="/complaints" th:href="@{/complaints}" class="text-light">Complaints</a></li>
					<li class="breadcrumb-item text-dark active" aria-current="page">Complaint details</li>
				</ol>
			</nav>
			<div class="d-flex justify-content-center" style="margin: 15px 0;">
				<h4>Dodaj nową reklamację</h4>
			</div>
		</div>
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col-md-12">
				<!--CONTENT START-->
				
				<form action="/add-complaint" th:action="@{/add-complaint}" method="post" th:object="${complaint}" class="justify-content-md-center">
				<!--CLIENT-INFO-->		
					<div class="card">
						<div class="card-body">
							<div class="form-group row">
								<label for="nazwa" class="col-sm-2 col-form-label">Nazwa klienta</label>
								<div class="col-sm-4">
									<input th:field="*{client.clientName}"  type="text" class="form-control" id="nazwa" placeholder="nazwa klienta">
								</div>
								<label for="tel" class="col-sm-2 col-form-label">Telefon</label>
								<div class="col-sm-4">
									<input th:field="*{client.phoneNumber}"  type="tel" class="form-control" id="tel" placeholder="telefon">
								</div>
							</div>
						</div>
					</div>
				<!--PRODUCT-INFO-->			
					<div class="card">
						<div class="card-body">
							<div class="form-group row">
								<label for="nazwa_produktu" class="col-sm-2 col-form-label">Nazwa produktu</label>
								<div class="col-sm-4">
									<input th:field="*{product.productName}"  type="text" class="form-control" id="nazwa_produktu" placeholder="nazwa produktu">
								</div>
								<label for="producent" class="col-sm-2 col-form-label">Producent</label>
								<div class="col-sm-4">
									<input th:field="*{product.producer}"  type="text" class="form-control" id="producent" placeholder="producent">
								</div>
								<label for="nr_seryjny" class="col-sm-2 col-form-label">Nr seryjny</label>
								<div class="col-sm-4">
									<input th:field="*{product.serialNumber}" type="numer" class="form-control" id="nr_seryjny" placeholder="numer seryjny urządzenia">
								</div>
							</div>
						</div>
					</div>
				<!--DESCRIPTION-->			
					<div class="card">
						<div class="card-body">
							<div class="form-group row">
								<label for="nr_seryjny" class="col-sm-2 col-form-label">Opis</label>
								<div class="col-sm-10">
									<textarea th:field="*{description}" class="form-control" aria-label="Dodaj opis:" placeholder="dodaj opis usterki.."></textarea>
								</div>
							</div>
						</div>
					</div>

					<br><input class="btn btn-secondary" type="submit" value="Zarejestruj reklamację">

				</form>
				
				<!--CONTENT END-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 align-self-end">
			<footer class="bg-dark text-white">
			<div class="container-fluid py-3">
					<div class="row">
							<div class="col-md-6">
								<a href="https://github.com/jrkn87/spring-app-deployed.git'" class="btn btn-link text-white">Project on GitHub</a>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-3 text-right small align-self-end">©2019 JRKN87</div>
					</div>
			</div>
	</footer>
		</div>
	</div>
</body>
</html>