<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reklamacje</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container bg-darkgrey">
	  <div class="well">
		<h1>Aplikacja do obsługi reklamacji</h1>
	  </div>
		<!--ALERTS-->
	  <div th:if="${clicked}" class="alert alert-success fade in alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aeria-label="close" title="close">&times;</a>
		<strong>Success!</strong> You log in.
		</div>

	  <div class="page-header">
		  <div class="row">
			  <div class="col-md-6">
				  <a href="#" th:href="@{/jrk}">Home</a>
				  &raquo;
				  <a href="#" class="btn disabled">Complaints</a>
			  </div>
			  <div class="col-md-6 text-right">
				  <a href="#" class="text-right">Sign in</a> |
				  <a href="#" th:href="@{/login}">Log in</a>
			  </div>
		  </div>
	  </div>
	<h2>Lista reklamacji</h2>
	<a href="#" th:href="@{/add-complaint}" class="btn btn-blocked">Add new complaint</a>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nr reklamacji</th>
					<th>Data przyjęcia</th>
					<th>Przedmiot</th>
					<th>Klient</th>
					<th>Ilość dni</th>
					<th>Uwagi</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="consumer : ${consumers}">
					<td th:text="${consumer.id}"><a href="#"></a></td>
					<td th:text="${currentDate}">2019-07-20</td>
					<td>Pilarka</td>
					<td th:text="${consumer.firstName}"></td>
					<td th:text="${consumer.nip}"></td>
					<td>Brak brak</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>