<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head">
  <title th:text="#{msg.title.archive}">Archive complaints list | Portfolio_App</title>
</head>
<body style="height: 100vh; font-size: 12px; padding: 0px;">
	<div class="row h-100">
		<div th:insert="fragments/template::myMenu" class="col-md-12"></div>
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row"> 
					<div class="col">
						<div class="row">
							<div class="col-md-12" style="padding: 10px"></div>
				<!--CONTENT START-->
				
							<div class="col-md-12 table-responsive">
								<table class="table table-sm table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
								<caption>
									<span>Archiwum</span>
								</caption>
									<thead class="thead-light">
										<tr>
											<th>#</th>
											<th>Data przyjęcia</th>
											<th>Status</th>
											<th>Przedmiot</th>
											<th>Klient</th>
											<th>Ilość dni</th>
											<th>Uwagi</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="complaint : ${complaints}">
											<td><a th:href="${'/details?id='+complaint.id}" th:text="${complaint.id}+'/REK/'+${complaint.startDate.getYear()}"></a></td>
											<td th:text="${complaint.startDate}"></td>
											<td th:text="${complaint.status}"></td>
											<td th:text="${complaint.product.productName}"></td>
											<td th:text="${complaint.client.clientName}"></td>
											<td th:text="${complaint.durationTimeOnDays}"></td>
											<td th:text="${complaint.comment}"></td>
										</tr>
									</tbody>
								</table>
							</div>
				
				<!--CONTENT END-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="fragments/template::myFooter" class="col-md-12 align-self-end"></div>
	</div>
</body>
</html>