<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head">
	<title>Complaint details | Portfolio_App</title>
</head>
<body style="height: 100vh; font-size: 12px; padding: 0px;">
	<div class="row h-100">
		<div th:insert="fragments/template::myMenu" class="col-md-12"></div>
		<div class="col-md-12">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col-md-12"></div>
				<!--CONTENT START-->
							<div class="col-md-12 table-responsive">
								<table class="table shadow p-3 mb-5 bg-white rounded">
								<caption>
									<a class="btn btn-secondary" style="margin-bottom: 15px;" data-toggle="modal" data-target="#myModal" href="#">Zmień status</a>
								</caption>
									<thead class="thead-light">
										<tr>
											<th>Numer reklamacji</th>
											<th>Status</th>
											<th>Ilość dni</th>
											<th>Ilość dni w serwisie</th>
											<th>Uwagi</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${complaint.id}">21345</td>
											<td th:text="${complaint.status}">w serwisie</td>
											<td th:text="${complaint.durationTimeOnDays}">12</td>
											<td th:text="${complaint.durationTimeOnDaysInService}">21</td>
											<td th:text="${complaint.comment}">Brak</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><br></td>
										</tr>										
									</tbody>
									<thead class="thead-light">
										<tr>
											<th>Data</th>
											<th>Data</th>
											<th>Data</th>
											<th>Data</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${complaint.startDate}">219-05-21</td>
											<td th:text="${complaint.pushServiceDate}">219-05-21</td>
											<td th:text="${complaint.pullServiceDate}">-</td>
											<td th:text="${complaint.pickupDate}">219-05-21</td>
											<td></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><br></td>
										</tr>										
									</tbody>
									<thead class="thead-light">
										<tr>
											<th>Klient</th>
											<th>Tel</th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${complaint.client.clientName}">Nowak</td>
											<td th:text="${complaint.client.phoneNumber}">516854798</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><br></td>
										</tr>										
									</tbody>
									<thead class="thead-light">
										<tr>
											<th>Produkt</th>
											<th>Producent</th>
											<th>Numer seryjny</th>
											<th>Stan urządzenia</th>
											<th>Opis</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${complaint.product.productName}">Bosh</td>
											<td th:text="${complaint.product.producer}">Bosh</td>
											<td th:text="${complaint.product.serialNumber}">98745646321654987</td>
											<td th:text="${complaint.product.deviceStatus}">typowe ślady urzytkowania</td>
											<td th:text="${complaint.description}">test test tes tes tes tetstetststetet etetetet s</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><br></td>
										</tr>										
									</tbody>
									<thead class="thead-light">
										<tr>
											<th>Wynik reklamacji</th>
											<th>Kontakt z serwisem</th>
											<th>Decyzja klienta</th>
											<th>Sposób odbioru</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${complaint.result}">-</td>
											<td th:text="${complaint.additionalDescription}">-</td>
											<td th:text="${complaint.decision}">-</td>
											<td th:text="${complaint.pickupWay}">-</td>
											<td>-</td>
										</tr>
									</tbody>
								</table>
							</div>

				<!--CONTENT END-->
					</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="fragments/template::myFooter" class="col-md-12 align-self-end"></div>
	</div>
	<!-- The Modal -->
	<div th:insert="fragments/template::myModal" class="modal" id="myModal"></div>
</body>
</html>