<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head">
	<title>Complaint details | Portfolio_App</title>
</head>
<body style="height: 100vh; font-size: 12px; padding: 0px;">
	<div class="row h-100">
		<div th:insert="fragments/template::myMenu" class="col-md-12"></div>
		<div class="col-md-12">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col-md-12" style="padding: 10px"></div>
				<!--CONTENT START-->
							<div class="card shadow p-3 mb-5 bg-white rounded">
								<div class="card-header">
									<h5 class="card-title" th:text="'Szczegóły reklamacji ' + ${complaint.id} + '/REK/2019'"></h5>
								</div>
								<div class="card-body">
									<span class="card-title font-weight-bold">Status:</span>
									<span th:text="' ' + ${complaint.status}"></span>
									<br>
									<span class="card-title font-weight-bold">Uwagi:</span>
									<span th:text="' ' + ${complaint.comment}"></span>
									<hr>
									<!---->
									<span class="card-title font-weight-bold">Data przyjęcia zgłoszenia:</span>
									<span th:text="' ' + ${complaint.startDate}"></span>
									<br>
									<span class="card-title font-weight-bold">Data wysłania urządzenia do serwisu:</span>
									<span th:text="' ' + ${complaint.pushServiceDate}"></span>
									<br>
									<span class="card-title font-weight-bold">Data powrotu z serwisu:</span>
									<span th:text="' ' + ${complaint.pullServiceDate}"></span>
									<br>
									<span class="card-title font-weight-bold">Data zakończenia reklamacji:</span>
									<span th:text="' ' + ${complaint.pickupDate}"></span>
									<hr>
									<!---->
									<span class="card-title font-weight-bold">Nazwa klienta/Firma:</span>
									<span th:text="' ' + ${complaint.client.clientName}"></span>
									<br>
									<span class="card-title font-weight-bold">NIP:</span>
									<span th:text="' ' + ${complaint.client.nip}"></span>
									<br>
									<span class="card-title font-weight-bold">Telefon:</span>
									<span th:text="' ' + ${complaint.client.phoneNumber}"></span>
									<br>
									<span class="card-title font-weight-bold">Email:</span>
									<span th:text="' ' + ${complaint.client.email}"></span>
									<br>
									<span class="card-title font-weight-bold">Osoba zgłąszająca:</span>
									<span th:text="' ' + ${complaint.client.advertising}"></span>
									<hr>
									<!---->
									<span class="card-title font-weight-bold">Nazwa urządzenia:</span>
									<span th:text="' ' + ${complaint.product.productName}"></span>
									<br>
									<span class="card-title font-weight-bold">Firma:</span>
									<span th:text="' ' + ${complaint.product.producer}"></span>
									<br>
									<span class="card-title font-weight-bold">Numer seryjny:</span>
									<span th:text="' ' + ${complaint.product.serialNumber}"></span>
									<br>
									<span class="card-title font-weight-bold">Stan urządzenia:</span>
									<span th:text="' ' + ${complaint.product.deviceStatus}"></span>
									<br>
									<span class="card-title font-weight-bold">Czy na gwarancji:</span>
									<span th:text="' ' + ${complaint.warranty}"></span>
									<br>
									<span class="card-title font-weight-bold">Opis usterki:</span>
									<span th:text="' ' + ${complaint.description}"></span>
									<hr>
									<!---->
									<span class="card-title font-weight-bold">Wynik reklamacji:</span>
									<span th:text="' ' + ${complaint.result}"></span>
									<br>
									<span class="card-title font-weight-bold">Kontakt z serwisem:</span>
									<span th:text="' ' + ${complaint.additionalDescription}"></span>
									<br>
									<span class="card-title font-weight-bold">Decyzja klienta:</span>
									<span th:text="' ' + ${complaint.decision}"></span>
									<br>
									<span class="card-title font-weight-bold">Sposób odbioru sprzętu:</span>
									<span th:text="' ' + ${complaint.pickupWay}"></span>
									<hr>
								</div>
								<div class="card-footer">
									<a class="btn btn-secondary" style="margin-bottom: 15px;" data-toggle="modal" data-target="#myModal" href="#">Zmień status</a>
								</div>
							</div>
				<!--CONTENT END-->
					</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="fragments/template::myFooter" class="col-md-12 align-self-end"></div>
	</div>
	<!-- The Modal -->
	<div th:insert="fragments/template::myModal" class="modal" id="myModal"></div>
</body>
</html>