<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head">
  <title th:text="#{msg.title.home}">Home | Portfolio_App</title>
</head>
<body style="height: 100vh; font-size: 12px; padding: 0px;">
	<div class="row h-100">
		<div th:insert="fragments/template::myHomeMenu" class="col-md-12"></div>
		<div class="col-md-12">
			<div class="container-fluid">
				<div class="row"> 
					<div class="col">
						<div class="row">
							<div class="col-md-12" style="padding: 10px">
				<!--CONTENT START-->
				
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="jumbotron  text-center">
										<h1 class="display-4" th:text="#{msg.description}">Hello, to my site !</h1>
										<p class="lead" th:text="#{msg.descriptionTwo}">This is a simple way, to see all my works.</p>
										<hr class="my-4">
										<p th:text="#{msg.description.complaintsApp}">This is my complaits application. Try it as well as posibble.</p>
										<p class="lead">
											<a class="btn btn-secondary btn-lg" href="#" th:href="@{/complaints}" role="button"  th:text="#{msg.link.complaintsApp}">Go to application</a>
										</p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="jumbotron  text-center">
										<h1 class="display-4" th:text="#{msg.description}">Hello, to my site !</h1>
										<p class="lead" th:text="#{msg.descriptionTwo}">This is a simple way, to see all my works.</p>
										<hr class="my-4">
										<p th:text="#{msg.description.complaintsApp}">This is my complaits application. Try it as well as posibble.</p>
										<p class="lead">
											<a class="btn btn-secondary btn-lg" href="#" th:href="@{/complaints}" role="button"  th:text="#{msg.btn.text.goToApp}">Go to application</a>
										</p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="jumbotron  text-center">
										<h1 class="display-4" th:text="#{msg.description}">Hello, to my site !</h1>
										<p class="lead" th:text="#{msg.descriptionTwo}">This is a simple way, to see all my works.</p>
										<hr class="my-4">
										<p th:text="#{msg.description.complaintsApp}">This is my complaits application. Try it as well as posibble.</p>
										<p class="lead">
											<a class="btn btn-secondary btn-lg" href="#" th:href="@{/complaints}" role="button"  th:text="#{msg.btn.text.goToApp}">Go to application</a>
										</p>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
				
				<!--CONTENT END-->
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="fragments/template::myFooter" class="col-md-12 align-self-end"></div>
	</div>
</body>
</html>