<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Complaint details | Portfolio_App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="height: 100vh; font-size: 12px; padding: 0px;" class="bg-secondary">
	<div class="container" style="height: 100%">
		<form action="/loginprocess" th:action="@{/loginprocess}" method="post" class="justify-content-md-center">
					<div class="d-flex justify-content-center align-self-center">
						<div class="card col-md-6 shadow p-3 mb-5 bg-white rounded">
							<div class="card-header justify-content-center">
								<h3>Log in:</h3>
							</div>
							<div class="card-body">
								<div class="form-group">
									<!---->
									<div class="form-group">
										<label for="user_name" class="form-label">Username</label>
										<p class="text-danger" th:if="1==0">
											<strong th:errors="">Warning!</strong>
										</p>
										<input name="username" type="text" class="form-control" id="user_name" placeholder="username">
									</div>
									<!---->
									<div class="form-group">
										<label for="user_pass" class="form-label">Password</label>
										<p class="text-danger" th:if="1==0">
											<strong th:errors="">Warning!</strong>
										</p>
										<input name="password" type="password" class="form-control" id="user_pass" placeholder="password">
									</div>
								</div>
							</div>
							<div class="card-footer justify-items-center">
								<input class="btn btn-secondary" type="submit" value="Zaloguj się">
							</div>
						</div>
					</div>

		</form>
		
	</div>
</body>
</html>