<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head">
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card shadow-lg bg-white rounded">
                <div class="card-header">
                    <span class="card-title h2">Create your account!</span>
                </div>
                <div class="card-body">
                    <form action="/register" th:action="@{/register}" method="post" th:object="${user}">
                                <div class="form-group">
                                    <!--<label for="firstName" class="form-label font-weight-bold">Imię</label>-->
                                    <p class="text-danger" th:if="${#fields.hasErrors('firstName')}">
                                        <strong th:errors="*{firstName}">Warning!</strong>
                                    </p>
                                    <input th:field="*{firstName}" type="text" class="form-control" id="firstName" placeholder="Imię *">
                                </div>
                                <div class="form-group">
                                    <!--<label for="lastName" class="form-label font-weight-bold">Nazwisko</label>-->
                                    <p class="text-danger" th:if="${#fields.hasErrors('lastName')}">
                                        <strong th:errors="*{lastName}">Warning!</strong>
                                    </p>
                                    <input th:field="*{lastName}" type="text" class="form-control" id="lastName" placeholder="Nazwisko">
                                </div>
                                <div class="form-group">
                                    <!--<label for="nick" class="form-label font-weight-bold">Nick</label>-->
                                    <p class="text-danger" th:if="${#fields.hasErrors('nick')}">
                                        <strong th:errors="*{nick}">Warning!</strong>
                                    </p>
                                    <input th:field="*{nick}" type="text" class="form-control" id="nick" placeholder="login *">
                                </div>
                                <div class="form-group">
                                    <!--<label for="password" class="form-label font-weight-bold">Nick</label>-->
                                    <p class="text-danger" th:if="${#fields.hasErrors('password')}">
                                        <strong th:errors="*{password}">Warning!</strong>
                                    </p>
                                    <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="password *">
                                </div>
                                <div class="form-group">
                                    <!--<label class="form-label font-weight-bold" for="mail">E-mail</label>-->
                                    <p class="text-danger" th:if="${#fields.hasErrors('email')}">
                                        <strong th:errors="*{email}">Warning!</strong>
                                    </p>
                                    <input th:field="*{email}" type="email" class="form-control" id="mail" placeholder="xxx@xxx.xx *">
                                </div>
                                <p class="p-1">* Pola wymagane!</p>
                                <hr>
                                <input class="btn btn-block btn-sm btn-secondary" type="submit" value="Zarejestruj się">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>