*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main{
  background-color: #000;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-group{
  display: flex;
  list-style: none;
}
.nav-el{
  border: none;
	margin: 10px;
}
.nav-el-link{
 text-decoration: none;
}
.nav-el-content{
		color: #ffffff;
		background-color: rgba(255,255,255,.1);
		text-shadow: 0 1px 5px rgba(0,0,0,0.2);
		padding: 50px;
		background-size: cover;
		box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		transition: 0.2s ease-in-out;
		align-content: space-around;
		justify-content: center;
}
.nav-el-content:hover {
  transform: scale(1.1);
	background-color: rgba(0,0,0,.4);
  box-shadow: 0 0 75px #72D8FF;
}
.person{
  font-size: 1.8em;
  letter-spacing: 4px;
}
.technologies {
		color: 	#72D8FF;
}

@media (max-width: 900px) {
  .nav-el-content:hover {
    transform: scale(1.0);
  }
}
@media (max-width: 800px) {
  .nav-el{
    padding: 10px 0 10px 0;
  }
  .nav-group {
    display: block;
  }
}